%% -*- mode: erlang -*-
{sys, [
       {lib_dirs, ["../deps", "../../"]},
       {rel, "ewg", "3.0",
        [
         kernel,
         stdlib,
         sasl,
	 ewg
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "ewg"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, ewg, [{incl_cond, include}]},
       {app, sasl, [{incl_cond, include}]}
 	
      ]}.

{target_dir, "ewg"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {copy, "files/ewg", "bin/ewg"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
           ]}.
